---
import { onMount } from 'solid-js'
import Layout from '../layouts/Layout.astro'
import baby from '../assetcs/images/baby.png'
import sister from '../assetcs/images/sister.png'
import consultant from '../assetcs/images/consultant.png'
import banner from '../assetcs/images/banner.mp4'
---

<Layout title="设置角色">
  <div class="role">
    <div id="version" class="version">
      <div data-version="1" class="version-item active">
        <div class="version-text1">1.0版</div>
        <div class="version-text2">小智LLM1</div>
      </div>
      <div data-version="2" class="version-item">
        <div class="version-text1">2.0版</div>
        <div class="version-text2">小智LLM2</div>
      </div>
    </div>
    <div class="gif">
      <video src={banner} autoplay loop></video>
    </div>
    <div class="role-title">选择助手：</div>
    <div class="role-main" id="role-main">
      <!-- 魔法宝贝 -->
      <div class="main-item">
        <div class="avatar">
          <img src={baby} alt="">
        </div>
        <div class="role-name">魔法宝贝</div>
        <div class="role-modal" data-role="0"></div>
      </div>
      <!-- 心灵姐姐 -->
      <div class="main-item">
        <div class="avatar">
          <img src={sister} alt="">
        </div>
        <div class="role-name">心灵姐姐</div>
        <div class="role-modal" data-role="1"></div>
      </div>
      <!-- 家庭顾问 -->
      <div class="main-item">
        <div class="avatar">
          <img src={consultant} alt="">
        </div>
        <div class="role-name">家庭顾问</div>
        <div class="role-modal" data-role="2"></div>
      </div>
    </div>
    <div class="role-title">性格设置：</div>
    <div class="character-opt">
      <ul id="character-ul"></ul>
    </div>
    <div id="save-btn" class="button" style="width:5.333rem">
      保存设置
    </div>
  </div>    
</Layout>

<script>
  let role = '0'
  let character = '0'
  const characterList = [
    ['古灵精怪','娇小可爱','一本正经','脑洞大开'],
    ['心事姐妹','情感闺蜜','心灵导师','邻里姐姐'],
    ['和谐使者','家庭智囊','家园顾问','别人爸爸']
  ]
  const version = document.getElementById('version')
  const roleMain = document.getElementById('role-main')
  const characterUl = document.getElementById('character-ul')
  const saveBtn = document.getElementById('save-btn')
  // 选择版本
  version.addEventListener('click',(e)=>{
    console.log(e.target)
  })
  // 选择角色
  roleMain.addEventListener('click',(e)=>{
    const roleType = e.target.dataset.role
    roleStyle(roleType)
    console.log(role,character)
  })
  function roleStyle(roleType){
    role = roleType
    createCharacter(role)
    characterStyle('0')
    for(let index=0;index<roleMain.children.length;index++){
      const elem=roleMain.children[index]
      if(index===Number(roleType)){
        elem.setAttribute('style','border: 2px solid #4E6EF2;')
      }else{
        elem.setAttribute('style','')
      }
    }
  }
  // 选择性格
  characterUl.addEventListener('click',(e)=>{
    if(e.target.nodeName!=='LI'){
      return
    }
    const characterType = e.target.dataset.character
    characterStyle(characterType)
    console.log(role,character)

  })
  function characterStyle(characterType){
    character = characterType
    for(let index=0;index<characterUl.children.length;index++){
      const elem=characterUl.children[index]
      if(index===Number(character)){
        elem.setAttribute('style','border-color:#4E6EF2;color:#4E6EF2')
      }else{
        elem.setAttribute('style','')
      }
    }
  }

  // 选择完角色生成性格元素
  function createCharacter(type){
    characterUl.innerHTML = ''
    let frag = document.createDocumentFragment()
    for (let i = 0; i < characterList[type].length; i++) {
      const elem = characterList[type][i]
      const li = document.createElement('li')
      li.setAttribute('data-character', i+'')
      li.innerHTML = elem
      frag.appendChild(li)
    }
    characterUl.appendChild(frag)
  }
  
  // 保存设置
  saveBtn.addEventListener('click',()=>{
    window.sessionStorage.setItem('role',role)
    window.sessionStorage.setItem('character',character)
    window.location.href = '/chat'
  })
  // 初始化页面
  function init(){
    // 初始化角色
    roleStyle('0')
    // 初始化性格
    characterStyle('0')
  }
  init()

</script>

<style is:global>
  #character-ul{
    display: flex;
    justify-content: space-between;
  }
  #character-ul li {
    width: 2.133rem;
    line-height: 1.173rem;
    background: #F5F6F9;
    border-radius: 0.213rem;
    border: 2px solid #F5F6F9;
    overflow: hidden;
    font-size: 0.373rem;
    color: #222222;
    text-align: center;
  }
</style>
<style>
  .role .version{
    border-radius: 0.533rem;
    width: 7.866rem;
    background-color: #F5F6F9;
    padding: 0.16rem 0.32rem;
    margin: 0.32rem auto 0.64rem;
    /* border: 1px solid red; */
    display: flex;
  }
  .role .version-item{
    padding: 0.213rem;
    width: 3.466rem;
    text-align: center;
  }
  .role .version-item.active{
    background-color: #fff;
    border-radius: 0.533rem;
  }
  .role .version-item.active .version-text1{
    color: #4E6EF2;
  }
  .role .version-text1{
    font-size: 0.373rem;
    font-weight: bold;
    color: #222222;
    line-height: 0.64rem;
  }
  .role .version-text2{
    font-size: 0.32rem;
    font-weight: 400;
    color: #666666;
    line-height: 0.64rem;
  }
  .role .gif{
    width: 9.04rem;
    margin: 0 auto 0.64rem;
    /* height: 3.866rem; */
    /* background-color: red; */
    border-radius: 0.533rem;
    overflow: hidden;
  }
  .gif video{
    width: 100%;
  }
  .role .role-title{
    font-size: 0.48rem;
    font-weight: bold;
    color: #222222;
    line-height: 0.64rem;
    padding: 0 0.48rem;
  }
  .role .role-main{
    padding: 0 0.48rem;
    margin: 0.32rem 0 1.28rem;
    display: flex;
    justify-content: space-between;
  }
  .role .main-item{
    position: relative;
    width: 2.826rem;
    height: 3.466rem;
    border-radius: 0.426rem;
    padding: 0.5333rem 0;
    text-align: center;
    background: #F5F6F9;
    border: 2px solid #F5F6F9;
  }
  .role .main-item img{
    margin: 0 auto;
    width: 1.44rem;
    height: 1.44rem;
  }
  .role .role-name{
    margin-top: 0.373rem;
    font-size: 0.373rem;
    font-weight: bold;
    color: #222222;
    line-height: 0.64rem;
  }
  .role-modal{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 100;
  }
  .character-opt{
    margin: 0.32rem 0 1.493rem;
    padding: 0 0.48rem;
  }
</style>