---
const { title } = Astro.props;
---

<div class="buttom">
  {title}
</div>


<script>
  
</script>

<style is:global>
  .buttom{
    width: 8.4rem;
    line-height: 1.333rem;
    background: #4E6EF2;
    box-shadow: 0px 5px 15px 1px rgba(78,110,242,0.3);
    border-radius: 0.213rem;
    font-size: 0.426rem;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
  }
</style>