---
import '../assetcs/css/header.css'
const { title } = Astro.props;
import close from '../assetcs/images/close.png'
import { Show } from 'solid-js'
---

<header>
  <div class={title==='首页'?'is-home title':'title'}>
    {title}
    <Show when={title==="角色对话Chat"}>
      <div class="close">
        <img src={close} alt="">
      </div>
    </Show>
  </div>
</header>

<script>
  document.querySelector('.close').addEventListener('click',()=>{
    window.location.href = '/home'
  })
</script>
