.title{
  width: 100%;
  line-height: 1.17rem;
  font-size: 0.426rem;
  text-align: center;
  background-color: #fff;
  font-weight: bold;
  color: #000;
  position: relative;
}
.is-home{
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
}
.close img{
  width: 0.853rem;
  height: 0.853rem; 
}
.close{
  position: absolute;
  right: 0.64rem;
  top: 50%;
  transform: translateY(-0.426rem);
}